<div class="uk-container">
    <div class="uk-grid uk-margin-small-top">
        <div class="uk-width-1-2 uk-margin-small-bottom" >
            <div class="uk-card uk-card-default uk-grid-small uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="http://picsum.photos/200/" alt="" uk-cover>
                    <canvas height="400" width="600"></canvas>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">R$ 100,00</h3>
                    <p>Polentina Maria</p>
                    <button class="uk-button uk-button-default uk-button-large uk-width-1-1">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                        dicionar
                    </button>
                </div>
            </div>
        </div>
        <div class="uk-width-1-2 uk-margin-small-bottom" >
            <div class="uk-card uk-card-default uk-grid-small uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="http://picsum.photos/200/" alt="" uk-cover>
                    <canvas height="400" width="600"></canvas>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">R$ 100,00</h3>
                    <p>Polentina Maria</p>
                    <button class="uk-button uk-button-default uk-button-large uk-width-1-1">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                        dicionar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-grid uk-margin-small-top">
        <div class="uk-width-1-2 uk-margin-small-bottom" >
            <div class="uk-card uk-card-default uk-grid-small uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="http://picsum.photos/200/" alt="" uk-cover>
                    <canvas height="400" width="600"></canvas>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">R$ 100,00</h3>
                    <p>Polentina Maria</p>
                    <button class="uk-button uk-button-default uk-button-large uk-width-1-1">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                        dicionar
                    </button>
                </div>
            </div>
        </div>
        <div class="uk-width-1-2 uk-margin-small-bottom" >
            <div class="uk-card uk-card-default uk-grid-small uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <img src="http://picsum.photos/200/" alt="" uk-cover>
                    <canvas height="400" width="600"></canvas>
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">R$ 100,00</h3>
                    <p>Polentina Maria</p>
                    <button class="uk-button uk-button-default uk-button-large uk-width-1-1">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                        dicionar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

